<ng-include src="'app/components/tours/navbar.html'"></ng-include>

<div class="row">
  <div class="col-sm-3">
    <img ng-src="{{tour.imageUrl()}}" width="200">
  </div>

  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-3">
        <h4>
          {{tour.title}}
        </h4>
      </div>

      <div class="col-sm-3">
        <span class="label label-primary">{{country.name}}</span>
      </div>

      <div class="col-sm-3">
        <span class="label label-warning">{{place.name}}</span>
      </div>

      <div class="col-sm-3 ">
        <div>duration: {{tour.duration}}</div>
      </div>

      <div class="col-sm-1 pull-right">
        <div>{{tour.price}}</div>
      </div>
    </div>

    <div class="row" ng-show="hotel">
      <div class="col-sm-4">
        <strong>{{hotel.title}}</strong>
      </div>

      <div class="col-sm-4">
        <span ng-bind-html="hotel.stars | stars"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div>{{tour.text}}</div>
      </div>
    </div>
  </div>
</div>
