<div class="row">
  <div class="col-sm-3">
    <h3>Travel-NG</h3>
  </div>

  <div class="col-sm-2 pull-right">
    <button type="button" class="btn btn-success btn btn-block" ng-click="showNewForm=true" ng-class="{'disabled': showNewForm}">Add tour</button>
  </div>
</div>

<div class="tour-form" ng-show="showNewForm">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <input class="form-control" placeholder="Tour name" ng-model="newTour.title">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <input class="form-control" placeholder="Cost" ng-model="newTour.price">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <textarea class="form-control" placeholder="Description" rows="4" ng-model="newTour.text"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 pull-right">
      <button type="button" class="btn btn-default btn-block" ng-click="showNewForm=false">Cancel</button>
    </div>

    <div class="col-sm-2 pull-right">
      <button type="button" class="btn btn-primary btn-block" ng-click="addTour()">Add</button>
    </div>
  </div>
</div>

<div class="tours-list" ng-repeat="tour in tours">
  <div class="row">
    <div class="col-sm-3">
      <img src="assets/images/default.png">
    </div>

    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-3">
          <div ng-hide="tour.edit">{{tour.title}}</div>
          <input type="text" ng-model="editedTour.title" ng-show="tour.edit">
        </div>

        <div class="col-sm-1 pull-right">
          <div ng-hide="tour.edit">{{tour.price}}</div>
          <input type="text" ng-model="editedTour.price" ng-show="tour.edit">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div ng-hide="tour.edit">{{tour.text}}</div>
          <textarea rows="4" ng-model="editedTour.text" ng-show="tour.edit"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" ng-hide="tour.edit">
      <a href="" class="pull-right" ng-click="deleteTour($index)">Delete</a>
      <a href="" class="pull-right" ng-click="editTour($index)">Edit</a>
    </div>

    <div class="col-sm-12" ng-show="tour.edit">
      <button type="button" class="btn btn-primary pull-right" ng-click="saveTour($index)">Save</button>
      <button type="button" class="btn btn-primary pull-right" ng-click="tour.edit=false">Cancel</button>
    </div>
  </div>
</div>

