<dz-navbar tab="tours"></dz-navbar>

<div class="row">
  <div class="col-sm-3">
    <h3>Travel-NG</h3>
  </div>

  <div class="col-sm-2 pull-right">
    <button type="button" class="btn btn-success btn btn-block" ng-click="showNewForm=true" ng-class="{'disabled': showNewForm}">Add tour</button>
  </div>
</div>

<div class="tour-form" ng-show="showNewForm">
  <form name="newTourForm" novalidate>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input class="form-control" name="name" placeholder="Tour name" ng-model="newTour.title" required>
          <div class="text-danger" ng-show="newTourForm.name.$touched && newTourForm.name.$error.required">Please input tour's name</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <input type="number" name="duration" class="form-control" placeholder="Duration" ng-model="newTour.duration" required>
          <div class="text-danger" ng-show="newTourForm.duration.$touched && newTourForm.duration.$error.required">Please input tour's duration</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <input type="number" name="cost" class="form-control" placeholder="Cost" ng-model="newTour.price" required>
          <div class="text-danger" ng-show="newTourForm.cost.$touched && newTourForm.cost.$error.required">Please input tour's cost</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <select class="form-control" name="countryName" ng-model="newTour.country" ng-options="country.name for country in countries track by country.objectId" ng-change="selectCountry(newTour.country)" required>
            <option value="" disabled selected>Select country</option>
          </select>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <select class="form-control" name="placeName" ng-model="newTour.place" ng-options="place.name for place in placesByCountry track by place.objectId" required>
            <option value="" disabled selected>Select place</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <textarea class="form-control" name="description" placeholder="Description" rows="4" ng-model="newTour.text" required></textarea>
          <div class="text-danger" ng-show="newTourForm.description.$touched && newTourForm.description.$error.required">Please input tour's description</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 pull-right">
        <button type="button" class="btn btn-default btn-block" ng-click="cancelTour()">Cancel</button>
      </div>

      <div class="col-sm-2 pull-right">
        <button type="submit" class="btn btn-primary btn-block" ng-click="newTourForm.$valid && addTour()" ng-disabled="!newTourForm.$valid">Add</button>
      </div>
    </div>
  </form>
</div>

<div class="tours-list" ng-repeat="tour in tours">
  <div class="row">
    <div class="col-sm-3">
      <img src="assets/images/default.png">
    </div>

    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-3">
          <div ng-hide="tour.edit">{{tour.title}}</div>
          <input type="text" ng-model="editedTour.title" ng-show="tour.edit">
        </div>

        <div class="col-sm-3">
          <span ng-hide="tour.edit" class="label label-primary">{{getCountry(tour.country.objectId).name}}</span>
          <select class="form-control" ng-model="editedTour.country" ng-show="tour.edit" ng-options="country.name for country in countries track by country.objectId" ng-change="selectCountry(editedTour.country)"></select>
        </div>

        <div class="col-sm-3">
          <span ng-hide="tour.edit" class="label label-warning">{{getPlace(tour.place.objectId).name}}</span>
          <select class="form-control" ng-model="editedTour.place" ng-show="tour.edit" ng-options="place.name for place in placesByCountry track by place.objectId"></select>
        </div>

        <div class="col-sm-3">
          <div ng-hide="tour.edit">duration: {{tour.duration}}</div>
          <input type="number" ng-model="editedTour.duration" ng-show="tour.edit">
        </div>

        <div class="col-sm-1 pull-right">
          <div ng-hide="tour.edit">{{tour.price}}</div>
          <input type="number" ng-model="editedTour.price" ng-show="tour.edit">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div ng-hide="tour.edit">{{tour.text}}</div>
          <textarea rows="4" ng-model="editedTour.text" ng-show="tour.edit"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" ng-hide="tour.edit">
      <a href="" class="pull-right" ng-click="deleteTour($index)">Delete</a>
      <a href="" class="pull-right" ng-click="editTour($index)">Edit</a>
    </div>

    <div class="col-sm-12" ng-show="tour.edit">
      <button type="button" class="btn btn-primary pull-right" ng-click="saveTour($index)">Save</button>
      <button type="button" class="btn btn-primary pull-right" ng-click="tour.edit=false">Cancel</button>
    </div>
  </div>
</div>

