<div class="row">
  <div class="col-sm-3">
    <h3>Travel-NG</h3>
  </div>

  <div class="col-sm-9">
    <div class="form-inline">
      <div class="form-group">
        <label>Select country:</label>
        <select class="form-control" ng-model="country" ng-options="country.name for country in countries track by country.objectId" ng-change="selectCountry()">
          <option value="" selected>All countries</option>
        </select>
      </div>

      <div class="form-group">
        <label>Select place:</label>
        <select class="form-control" ng-model="place" ng-options="place.name for place in placesByCountry track by place.objectId" ng-change="selectPlace()">
          <option value="" selected>All places</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="tours-list" ng-repeat="tour in selectedTours">
  <div class="row">
    <div class="col-sm-3">
      <img src="assets/images/default.png">
    </div>

    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-3">
          <a ng-href="tours/{{tour.objectId}}">{{tour.title}}</a>
        </div>

        <div class="col-sm-3">
          <span class="label label-primary">{{getCountry(tour.country.objectId).name}}</span>
        </div>

        <div class="col-sm-3">
          <span class="label label-warning">{{getPlace(tour.place.objectId).name}}</span>
        </div>

        <div class="col-sm-3 ">
          <div>duration: {{tour.duration}}</div>
        </div>

        <div class="col-sm-1 pull-right">
          <div>{{tour.price}}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div>{{tour.text | limitTo: 150}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
