<nav class="navbar navbar-default navbar-static-topp">
  <a class="navbar-brand" href="/">Travel-NG (admin)</a>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li ng-class="{active:isActive('tours')}"><a href="/admin/tours">Tours</a></li>
      <li ng-class="{active:isActive('countries')}"><a href="/admin/countries">Countries</a></li>
      <li ng-class="{active:isActive('places')}"><a href="/admin/places">Places</a></li>
      <li ng-class="{active:isActive('hotels')}"><a href="/admin/hotels">Hotels</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">Public area</a></li>
    </ul>
  </div>
</nav>
