<div class="row">
  <div class="col-sm-3">
    <h3>Travel-NG</h3>
  </div>

  <div class="col-sm-2 pull-right">
    <button type="button" class="btn btn-success btn btn-block" ng-click="showNewForm=true" ng-class="{'disabled': showNewForm}">Add tour</button>
  </div>
</div>

<div class="tour-form" ng-show="showNewForm">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <input class="form-control" placeholder="Tour name" ng-model="newTour.title">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Duration" ng-model="newTour.duration">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Cost" ng-model="newTour.price">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <select class="form-control" ng-model="newTour.countryObjectId">
          <option value="" disabled selected>Select country</option>
          <option ng-repeat="country in countries" value="{{country.objectId}}">{{country.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <select class="form-control" ng-model="newTour.placeObjectId">
          <option value="" disabled selected>Select place</option>
          <option ng-repeat="place in places" value="{{place.objectId}}">{{place.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <textarea class="form-control" placeholder="Description" rows="4" ng-model="newTour.text"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 pull-right">
      <button type="button" class="btn btn-default btn-block" ng-click="cancelTour($index)">Cancel</button>
    </div>

    <div class="col-sm-2 pull-right">
      <button type="button" class="btn btn-primary btn-block" ng-click="addTour()">Add</button>
    </div>
  </div>
</div>

<div class="tours-list" ng-repeat="tour in tours">
  <div class="row">
    <div class="col-sm-3">
      <img src="assets/images/default.png">
    </div>

    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-3">
          <div ng-hide="tour.edit">{{tour.title}}</div>
          <input type="text" ng-model="editedTour.title" ng-show="tour.edit">
        </div>

        <div class="col-sm-3">
          <span ng-hide="tour.edit" class="label label-primary">{{objectByObjectId(countries, tour.country.objectId).name}}</span>
          <select class="form-control" ng-model="editedTour.countryObjectId" ng-show="tour.edit">
            <option value="" selected>{{objectByObjectId(countries, tour.country.objectId).name}}</option>
            <option ng-repeat="country in countries | filter: '!' + tour.country.objectId" value="{{country.objectId}}">{{country.name}}</option>
          </select>
        </div>

        <div class="col-sm-3">
          <span ng-hide="tour.edit" class="label label-warning">{{objectByObjectId(places, tour.place.objectId).name}}</span>
          <select class="form-control" ng-model="editedTour.placeObjectId" ng-show="tour.edit">
            <option value="" selected>{{objectByObjectId(places, tour.place.objectId).name}}</option>
            <option ng-repeat="place in places | filter: '!' + tour.place.objectId" value="{{place.objectId}}">{{place.name}}</option>
          </select>
        </div>

        <div class="col-sm-3">
          <div ng-hide="tour.edit">duration: {{tour.duration}}</div>
          <input type="number" ng-model="editedTour.duration" ng-show="tour.edit">
        </div>

        <div class="col-sm-1 pull-right">
          <div ng-hide="tour.edit">{{tour.price}}</div>
          <input type="number" ng-model="editedTour.price" ng-show="tour.edit">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div ng-hide="tour.edit">{{tour.text}}</div>
          <textarea rows="4" ng-model="editedTour.text" ng-show="tour.edit"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" ng-hide="tour.edit">
      <a href="" class="pull-right" ng-click="deleteTour($index)">Delete</a>
      <a href="" class="pull-right" ng-click="editTour($index)">Edit</a>
    </div>

    <div class="col-sm-12" ng-show="tour.edit">
      <button type="button" class="btn btn-primary pull-right" ng-click="saveTour($index)">Save</button>
      <button type="button" class="btn btn-primary pull-right" ng-click="tour.edit=false">Cancel</button>
    </div>
  </div>
</div>

